{% extends 'base.html' %} 

{% block title %} Homepage {% endblock %} 

{% block body %} 

<h1>Welcome!</h1>



{% if "user_email" in session %} 
<p>
    You're already logged in! Click <a href="/user_dashboard">here</a> to go to your dashboard.
</p>
{% endif %}
<h2>Create an account</h2>
<form action="/register" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        I am a: 
        <br>
        Job Seeker <input type="radio" id="create_job_seeker" name="user_type" value="job_seeker">
        <br>
        Recruiter <input type="radio" id="create_recruiter" name="user_type" value="recruiter">
    </p>
    <p>
        <input type="submit" value="Create my account">
    </p>
</form>

<h2>Log In</h2>
<form action="/login" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        I am a: 
        <br>
        Job Seeker <input type="radio" id="login_job_seeker" name="user_type" value="job_seeker">
        <br>
        Recruiter <input type="radio" id="login_recruiter" name="user_type" value="recruiter">
    </p>
    <p>
        <input type="submit" value="Log In">
    </p>
</form>
{% endblock %}