{% extends 'base.html' %} 

{% block title %} Homepage {% endblock %} 

{% block navbar %}{% endblock %}

{% block body %} 
<h1>Welcome!</h1>
<div class="row">
    <div class="col">
<p>Insert text about website here.</p> 
</div>
<div class="col">
<p>Insert image here.</p>
</div>
 </div>   

{% if "user_email" in session %} 
<p>
    You're already logged in! Click <a href="/user_dashboard">here</a> to go to your dashboard.
</p>
{% endif %}
<div class="row auth-forms-wrapper">
    <form action="/register" method="POST" class="auth_forms" id="signup">
    <h4>Create an account</h4>
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        I am a: 
        <br>
        Job Seeker <input type="radio" id="create_job_seeker" name="user_type" value="job_seeker">
        <br>
        Recruiter <input type="radio" id="create_recruiter" name="user_type" value="recruiter">
    </p>
    <p>
        <input type="submit" value="Create my account">
    </p>
</form>
<form action="/login" method="POST" class="auth_forms" id="login">
    <h4>Log In</h4>
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        I am a: 
        <br>
        Job Seeker <input type="radio" id="login_job_seeker" name="user_type" value="job_seeker">
        <br>
        Recruiter <input type="radio" id="login_recruiter" name="user_type" value="recruiter">
    </p>
    <p>
        <input type="submit" value="Log In">
    </p>
</form>
</div>
{% endblock %}