{% extends 'base.html' %} 

{% block title %} Homepage {% endblock %} 

{% block navbar %}{% endblock %}

{% block body %} 
<div class="row auth-forms-wrapper">
    <form action="/register" method="POST" class="auth_forms" id="signup">
    <h5 class="auth-content">Create an Account</h4>
    <p class="auth-content">
        Email <input type="text" name="email">
    </p>
    <p class="auth-content">
        Password <input type="password" name="password">
    </p>
    <p class="auth-content">
        I am a: 
        <br>
        Job Seeker <input type="radio" id="create_job_seeker" name="user_type" value="job_seeker">
        <br>
        Recruiter <input type="radio" id="create_recruiter" name="user_type" value="recruiter">
    </p>
    <p class="auth-content">
        <input type="submit" value="Create my account">
    </p>
</form>
<form action="/login" method="POST" class="auth_forms" id="login">
    <h5 class="auth-content">Log In</h4>
    <p class="auth-content">
        Email <input type="text" name="email">
    </p>
    <p class="auth-content">
        Password <input type="password" name="password">
    </p>
    <p class="auth-content">
        I am a: 
        <br>
        Job Seeker <input type="radio" id="login_job_seeker" name="user_type" value="job_seeker">
        <br>
        Recruiter <input type="radio" id="login_recruiter" name="user_type" value="recruiter">
    </p>
    <p class="auth-content">
        <input type="submit" value="Log In">
    </p>
</form>
</div>
<div class="container">
<h1>[Insert Name Here]</h1>
<div class="row">
    <div class="col">
<p>Connecting top employers with top candidates.</p> 
</div>

</div>   
<div class="row">
    <div class="col">
        <p>Hiring? Say goodbye to cold messaging - connect with candidates who are interested and ready to interview.</p>
    </div>
       
    <div class="col">
        <p>Looking for your next opportunity? Cut out the middleman and the ATS - connect directly with the recruiter for your dream role.</p>
    </div>
</div>
<div class="row">
<img src="static/images/homepage_image_1.jpg">
</div>

{% if "user_email" in session %} 
<p>
    You're already logged in! Click <a href="/user_dashboard">here</a> to go to your dashboard.
</p>
{% endif %}
</div>

{% endblock %}