{% extends 'base.html' %} 

{% block title %} Connections {% endblock %} 

{% block body %}

<h1>Your Connections</h1>
{% if connections %} 
<ul>
    {% for connection in connections %} 
    {% if connection is not none %}
    <li class="parent_li" id="connection_item_{{connection.id}}">{{connection.fname}}  {{connection.lname}}
        <ul>
            <li class="child_li">
                Email: {{connection.email}}
            </li>
            <li class="child_li">
                Company: {{connection.company}}
            </li>
            <li class="child_li">
                Linkedin: <a href="https://{{connection.linkedin}}">{{connection.linkedin}}</a>
            </li>
            <button data-id="{{connection.id}}" class="remove_connection">Remove Connection</button>
            <div id="removeSuccessMessage_{{connection.id}}" class="removeSuccessMessage"></div>
        </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %} 
<p>You don't have any connections yet.</p>
{% endif %}
<script src="/static/removeConnection.js"></script>
{% endblock %}