{% extends 'base.html' %} 

{% block title %} Dashboard {% endblock %} 

{% block body %} 
<h1>{{ user.fname }}, here's your dashboard.</h1>

<p>
    Click <a href ="/user_profile">here</a> to view/edit your profile.
</p>

<p>
    Click <a href="/new_search">here</a> to start a new search.
</p>
<div class="row connections">
<h4>Your Pending Connection Requests</h4>
{% if requests %}
{% for request in requests %} 
<div class="pending_request">
    <p>{{ request.sender.fname }} from {{request.sender.company}} wants to connect with you!</p>
    {% if request.message %} 
    <p>Request message:<br>{{request.message}}</p>
    {% endif %}
    <form action ="/accept_request" class="handle_request" method="POST">
        <input type="hidden" name="request_id" value="{{request.id}}">
        <input type="submit" value="Accept">
    </form>
    <form action="/reject_request" class="handle_request" method="POST">
        <input type="hidden" name="request_id" value="{{request.id}}">
        <input type="submit" value="Reject">
    </form>
</div>
{% endfor %}
{% else %} 
<p>You have no pending requests right now.</p>
{% endif %}
</div>

<h4>Your Connections</h4>
{% if connections %} 
{% for connection in connections %} 
{% if connection is defined %}
<div class="connection">
    <p>Name: {{ connection.fname }} {{ connection.lname }}</p>
    {% endif %}
</div>
{% endfor %}
{% else %}
<p>You have no connections at the moment.</p>
{% endif %}
<p><a href="/connections">Manage Your Connections</a></p>

<form action="/logout" method="POST">
    <button id="logout">Log Out</button>
</form>


{% endblock %}