{% extends 'base.html' %} 

{% block title %} Profile {% endblock %} 

{% block body %} 
<h1>Your Candidate Profile</h1>
<p>
    Click <a href="/user_dashboard">here</a> to return to your dashboard.
</p>

<h2>Your Profile</h2>
 <ul>
    <li>
        <span class="profile_details" id="js_fname">First name: {{user.fname}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_lname">Last name: {{user.lname}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_linkedin">Linkedin: {{user.linkedin}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_github">Github: {{user.github}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_location">Location: {{user.location}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_yoe">Years of experience: {{user.yoe}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_salary">Desired Salary: {{user.desired_salary}}</span>
    </li>
    <li>
    <span class="profile_details" id="js_remote">Remote only? {{user.remote_only}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_sponsorship">Sponsorship needed? {{user.sponsorship_needed}}</span>
    </li>
    <li>
        <span class="profile_details" id="js_skills">Skills: 
            {% for skill in skills %}
            {{ skill.skill_name}},
            {% endfor %}
        </span>
    </li>
    <li>
        <span class="profile_details" id="js_role_types">Desired role:
            {% for role in roletypes %} 
            {{ role.role_type }},
            {% endfor %}
        </span>
    </li>
 </ul>
<br>
 <h2>Edit Profile</h2>
 
 <form action="/update_js_profile" id="#edit_profile" method="POST">
    <p>
        First Name: <input type="text" name="fname">
    </p>
    <p>
        Last Name: <input type="text" name="lname">
    </p>
    <p>
        Linkedin URL: <input type="text" name="linkedin">
    </p>
    <p>
        Github URL: <input type="text" name="github">
    </p>
    <p>
        Location: <input type="text" name="location">
    </p>
    <p>
        Years of experience: <input type="number" id="yoe" name="yoe" min="0">
    </p>
    <p>
        Minimum desired salary: <input type="number" id="desired_salary" name="desired_salary" min="0">
    </p>
    <p>
        Are you exclusively seeking remote roles? 
        <br>
        Yes <input type="radio" id="yes" name="remote_only" value="True">
        <br>
        No <input type="radio" id="no" name="remote_only" value="False">
    </p>
    <p>
        Are you looking for visa sponsorship?
        <br>
        Yes <input type="radio" id="yes" name="sponsorship_needed" value="True">
        <br>
        No <input type="radio" id="no" name="sponsorship_needed" value="False">
    </p>
    <p>
        Select the skill you are most proficient in:
        <select name="skill" id="js_skill">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="React">React</option>
            <option value="Flask">Flask</option>
            <option value="Aws">AWS</option>
            <option value="Kubernetes">Kubernetes</option>
            <option value="Agile">Agile Methodologies</option>
            <option value="SQL">SQL</option>
            <option value="Swift">Swift</option>
            <option value="Selenium">Selenium</option>
        </select>
    </p>
    <p>Select the type of role you're most interested in:
        <select name="role_type" id="js_role_type">
            <option value="Backend">Backend</option>
            <option value="Frontend">Frontend</option>
            <option value="Fullstack">Fullstack</option>
            <option value="Devops">DevOps</option>
            <option value="Security">Security Engineering</option>
            <option value="Data">Data Engineering</option>
            <option value="Machine Learning">Machine Learning</option>
            <option value="Management">Engineering Management</option>
            <option value="Mobile">Mobile</option>
            <option value="QA">QA</option>
        </select>
    </p>
    <input type="submit">
 </form>
<br>
<h2>Upload Your Resume</h2>
 <form action="/upload_resume" method="post" enctype="multipart/form-data">
    <input type="file" name="resume">
    <br>
    <input type="submit" value="Upload">
 </form>

 <br>
 <h2>Your resume</h2>
 <a href="{{ user.resume_url }}">View it here</a>

{% endblock %}