{% extends 'base.html' %} 

{% block title %} Search {% endblock %} 

{% block body %} 
<h1>Search for Roles</h1>

<p>
    Click <a href="/user_dashboard">here</a> to return to your dashboard.
</p>
<div class="img-container">
    <img src="/static/images/illustration_2.png" class="rounded float-end">
</div>
<div class="container">
<form action="/run_saved_search" class="saved_search_form" method="GET" style="width: 300px;">
    <h5>Use one of your saved searches:</h5>
    <select id="js_saved_searches" name="saved_searches" class="saved_search_select form-select focus-state">
        <option value="None">None</option>
        {% for search in saved_searches %} 
        <option value="{{search.search_nickname}}" data-params="{{search.search_params}}">{{search.search_nickname}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Search Again" style="margin-top: 10px;" class="btn btn-secondary rounded focus-state">
</form>
<hr>
<form action="/search" class="new_search_form" method="POST" style="width: 300px;">
    <h5>Or start a new search:</h5>
    <br>
    <p>
        I want to see this type of roles:
        <br>
        <select name="role_type" id="search_role_type" class="form-select focus-state">
            <option value="All">All Types</option>
            <option value="Backend">Backend</option>
            <option value="Frontend">Frontend</option>
            <option value="Fullstack">Fullstack</option>
            <option value="Devops">DevOps</option>
            <option value="Security">Security Engineering</option>
            <option value="Data">Data Engineering</option>
            <option value="Machine Learning">Machine Learning</option>
            <option value="Management">Engineering Management</option>
            <option value="Mobile">Mobile</option>
            <option value="QA">QA</option>
        </select>
    </p>
    <p>
        At this level:
        <br>
        <select name="level" id="search_level" class="form-select focus-state">
            <option value="All">All Levels</option>
            <option value="Entry Level">Entry Level</option>
            <option value="Mid Level">Mid Level</option>
            <option value="Senior">Senior</option>
            <option value="Staff">Staff</option>
            <option value="Manager">Management</option>
        </select>
    </p>
    <p>
        In this location (leave blank if no desired location):
        <br>
        <input type="text" name="location" class="form-control form-control-rounded form-control-sm focus-state">
    </p>
    <p>
        With this YOE:
        <br>
        <input type="number" name="yoe" min="0" value="0" class="form-control form-control-rounded form-control-sm focus-state">
        <br>
        Show me roles with this YOE or:
        <br>
        Higher<input type="radio" name="yoe_param" value="higher">
        <br>
        Lower<input type="radio" name="yoe_param" value="lower">
        <br>
        Exact match <input type="radio" name="yoe_param" value="exact">
    </p>
    <p>
        With this minimum salary:
        <br>
        <input type="number" name="salary" min="0" value="0" class="form-control form-control-rounded form-control-sm focus-state">
        <br>
        Show me roles with this minimum salary or:
        <br>
        Higher<input type="radio" name="salary_param" value="higher">
        <br>
        Lower<input type="radio" name="salary_param" value="lower">
        <br>
        Exact match <input type="radio" name="salary_param" value="exact">
    </p>
    <p>
        Should we only show you remote roles?
        <br>
        <select name="remote" class="form-select focus-state">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </p>
    <p>
        Should we only show you roles offering visa sponsorship?
        <br>
        <select name="sponsorship" class="form-select focus-state">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </p>
    <p>
        <input type="submit" value="See results" class="btn btn-secondary rounded focus-state">
    </p>
</form>
</div>
{% endblock %}
