{% extends 'base.html' %} 

{% block title %} Search {% endblock %} 

{% block body %} 
<h1>Search for Candidates</h1>

<p>
    Click <a href="/user_dashboard">here</a> to return to your dashboard.
</p>
<div class="img-container">
    <img src="/static/images/illustration_2.png" class="rounded float-end">
</div>
<div class="container">
<form action="/run_saved_search" class="saved_search_form" method="GET" style="width: 300px;">
    <h5>Use one of your saved searches:</h5>
    <select id="rec_saved_searches" name="saved_searches" class="saved_search_select form-select focus-state">
        <option value="None">None</option>
        {% for search in saved_searches %} 
        <option value="{{search.search_nickname}}" data-params="{{search.search_params}}">{{search.search_nickname}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Search Again" class="btn btn-secondary rounded focus-state" style="margin-top: 10px;">
</form>
<hr>
<form action="/search" class="new_search_form" method="POST" style="width: 300px;">
    <h5>Or start a new search:</h5>
    <p>
        Show me candidates in this location (leave blank if no desired location):
        <br>
        <input type="text" name="location" class="form-control form-control-rounded form-control-sm focus-state">
    </p>
    <p>
        With this YOE:
        <br>
        <input type="number" name="yoe" min="0" value="0" class="form-control form-control-rounded form-control-sm focus-state">
        <br>
        Show me candidates with this YOE or:
        <br>
        Higher<input type="radio" name="yoe_param" value="higher">
        <br>
        Lower<input type="radio" name="yoe_param" value="lower">
        <br>
        Exact match <input type="radio" name="yoe_param" value="exact">
    </p>
    <p>
        With this skill:
        <br>
        <select name="skill" id="cand_skill" class="form-select focus-state">
            <option value="All">Any Skill</option>
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="React">React</option>
            <option value="Flask">Flask</option>
            <option value="Aws">AWS</option>
            <option value="Kubernetes">Kubernetes</option>
            <option value="Agile">Agile Methodologies</option>
            <option value="SQL">SQL</option>
            <option value="Swift">Swift</option>
            <option value="Selenium">Selenium</option>
        </select>
        
    </p>
    <p>
        Who are interested in this type of role:
        <br>
        <select name="role_type" id="cand_role_type" class="form-select focus-state">
            <option value="All">Any Role</option>
            <option value="Backend">Backend</option>
            <option value="Frontend">Frontend</option>
            <option value="Fullstack">Fullstack</option>
            <option value="Devops">DevOps</option>
            <option value="Security">Security Engineering</option>
            <option value="Data">Data Engineering</option>
            <option value="Machine Learning">Machine Learning</option>
            <option value="Management">Engineering Management</option>
            <option value="Mobile">Mobile</option>
            <option value="QA">QA</option>
        </select>
    </p>
    <p>
        With this minimum desired salary:
        <br>
        <input type="number" name="salary" min="0" value="0" class="form-control form-control-rounded form-control-sm focus-state">
        <br>
        Show me candidates with this minimum salary or:
        <br>
        Higher<input type="radio" name="salary_param" value="higher">
        <br>
        Lower<input type="radio" name="salary_param" value="lower">
        <br>
        Exact match <input type="radio" name="salary_param" value="exact">
        <br>
        Any Salary <input type="radio" name="salary_param" value="All">
    </p>
    <p>
        Should we show you candidates who are remote only?
        <br>
        <select name="remote" class="form-select focus-state">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </p>
    <p>
        Should we show you candidates who need visa sponsorship?
        <br>
        <select name="sponsorship" class="form-select focus-state">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </p>
    <p>
        <input type="submit" value="See results" class="btn btn-secondary rounded focus-state">
    </p>
</form>

</div>
{% endblock %}
